<div class="container">
    <div class="container  d-flex flex-column justify-content-center align-items-center mt-5">
        <h1>Welcome to Learning Platform</h1>
        <h5>Strengthen Your Classroom With This Centralized Platform</h5>
        <div class="container">
          <h5>What are we?</h5>
          <p>Learning Platform is a web-based learning management system, or LMS. Our goal is to  allow institutions to manage digital learning, educators to create and present online learning materials</p>
        </div>
        <div class="container">
          <h5>Who is able to use this?</h5>
          <p>Canvas has two roles, the user’s assigned role determines their access and interactions. So far we have <strong>Teachers</strong>
          and <strong>Students</strong>. We are currently in the works to implement more roles.
          </p>
        </div>
    </div>
</div>
