<div class="container" *ngIf="course;">
    <div class="d-flex align-items-center">
        <h1>{{course.name}}</h1>
        <a [routerLink]="['/courses', course.id, 'edit']"><fa-icon [icon]="faPencil"></fa-icon></a>
    </div>
    <h3>Teacher: {{course.teacher?.name}}</h3>
    <p>{{course.schoolYear}}</p>
    <div class="container">
        <h3>Class Overview</h3>
        <p>Can view the content assigned to this course.</p>
        <hr>
        <div class="jumbotron">
          <h1 class="display-4">Hello, class!</h1>
          <p class="lead">This is a simple jumbotrain to feature content or information for this class.</p>
          <hr class="my-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.r.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg disabled" href="#" role="button">Learn more</a>
          </p>
        </div>
    </div>
</div>
